.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
}

.gallery:hover {
    border: 3px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.overview-image img{
  width: 100%;
}

.star-video iframe{
  width:100%;
}

#sidenav,body{overflow-x:hidden}
#introSatz,.intro h2,body{font-family:Poppins,sans-serif}
body,h5{text-align:left}
.appear,.backButton{transition:opacity .75s ease-out,transform .75s ease-out}
.scrollbar,body{overflow-y:scroll}
#info,#introSatz,#wrapper,h4{text-align:center}
#menu ul,body,p{-webkit-font-smoothing:antialiased}
#sidenav a,.box_footer,.detailBox ul li,.icon2,.icon2:hover,.intro a:hover,a:hover,body{text-decoration:none}
body{color:#0D1B2A;
margin:0 auto;
font-size:1.5em;
font-weight:300}
.detailBox ul li{padding:0}
.introV2{width:100vw;
height:100vh;
background-color:#fff;
margin-top:-6vh}
.introV2 h1{font-size:1.2em;
line-height:25px;
font-weight:500;
position:absolute;
margin-top:25vh;
margin-left:0}
.scrollIndicator p,.testName p{font-size:.87em;
letter-spacing:2px;
text-transform:uppercase}
.introContant{position:absolute;
transform:translate(-50%,-50%);
top:50%;
left:60%}
#backgroundFont,#backgroundImage,#pfeil,.testName p,h4{position:fixed}
.backButton{opacity:0;
transform:translate3d(-15px,0,0)}
.backButton.in{opacity:1;
transform:translate3d(0,0,0)}
.testName p{font-weight:400;
color:#1B263B;
z-index:1;
transform:translate(-50%,-50%);
transform:rotate(-90deg);
top:60%;
left:50px}
.scrollIndicator{opacity:1;
transition:opacity .35s ease-in-out}
.scrollIndicator p{transform:rotate(90deg);
position:fixed;
bottom:30px;
margin:50px;
right:-30px;
font-weight:500}
#mBottom,.post{margin-bottom:100px}
#introTitel,h4{right:0;
bottom:0}
.scrollIndicator.disappear{opacity:0}
video{width:100%!important;
height:auto!important}
.svgIcons{width:25px;
height:auto;
float:left;
margin-right:20px;
fill:#212121;
fill:#BDBDBD}
.svgIcons:hover{fill:#778DA9;
fill:#00f}
.socialLinks{margin-top:50px}
.socialLinks a{font-size:1.13em;
margin-right:15px}
.introBox h1,.introBox h2{font-size:3em;
font-weight:300}
.introBox h1{color:#2F2F2F}
.introBox h2{color:#A1A3A8}
.introBox{margin-top:25vh;
width:35vw}
.greyT{color:#4D4D4D}
.blueW{color:#040127}
#introSatz{font-weight:700;
font-size:2.8em;
background-color:#f5f5f5}
#introSatzBox{margin-top:150px;
margin-bottom:200px}
#sImg{width:25%;
height:auto;
float:left;
margin-right:20px}
#mTop{margin-top:200px}
#info,.scrollbar{margin-bottom:25px}
#info{font-size:18px;
color:#555}
.scrollbar{margin-left:30px;
float:left;
height:300px;
width:65px;
background:#F5F5F5}
#backgroundImage,#pfeil,.emailb,.hoverbox{background-size:cover}
.force-overflow{min-height:450px}
#wrapper{width:500px;
margin:auto}
#style-3::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
background-color:#F5F5F5}
#style-3::-webkit-scrollbar{width:6px;
background-color:#F5F5F5}
#style-3::-webkit-scrollbar-thumb{background-color:#000}
#rightPost{margin-left:15vw}
#leftPost{margin-left:-15vw}
.text{width:60%;
height:50%;
margin-top:25%;
margin-bottom:25%;
margin-left:20%;
line-height:200%}
.boxtest{background-color:#00f;
width:100%;
height:100%}
#galerie{margin-bottom:5vh}
#galerie .row{margin-bottom:0;
margin-top:0;
padding:0}
#galerie .col-md-12,#galerie .col-md-6{padding:7px}
#headerRow .row{margin-bottom:2vh}
#contentContainer{background-color:#00f;
width:60vw}
#backgroundImage{width:100%;
height:80%;
margin-top:30vh;
left:0;
top:0;
z-index:0}
#headerContainer{width:100vw;
height:40vh;
margin-top:-10vh;
background-color:#fff;
padding-top:15vh}
#pfeil{background-image:url(../img/pfeil2.png);
width:10px;
height:45px;
transform:scale(.8);
opacity:1;
bottom:60px;
right:90px;
margin:0}
.detailBox .spacer{margin-top:20px}
.detailBox p{font-weight:400;
font-size:.8em;
color:#ADADAD;
text-transform:uppercase;
letter-spacing:1px}
a,p{color:#000}
h2,p{letter-spacing:.3px}
#introText3 p,h4{letter-spacing:2px}
.detailBox h1{font-weight:300;
font-size:1em;
line-height:normal;
margin-top:0}
.col-md-3,.col-md-4{padding:10px}
#redesign{width:33vw;
height:auto;
margin-left:35vw;
margin-right:auto;
margin-top:20vh}
#redesignContainer{width:100vw;
height:auto;
margin-right:0}
#backgroundFont{font-size:9em;
text-transform:uppercase;
letter-spacing:20px;
font-weight:600;
z-index:-1;
transform:translate(-50%,-50%);
top:50%;
left:50%;
white-space:nowrap;
color:#F6F6F6}
#introContainer{margin-top:10vh;
background-color:#ff0}
#introText{font-weight:600;
font-size:3em;
letter-spacing:-2px;
width:70%;
line-height:150%}
#introText3 p{margin-top:5vh;
margin-bottom:0;
text-transform:uppercase;
font-weight:500;
font-size:.87em}
#introTitel{font-weight:800;
font-size:18em;
position:absolute;
margin-right:90px;
margin-bottom:0;
letter-spacing:-5px;
color:#000}
.appear{opacity:0;
transform:translate3d(0,100px,0)}
.emailb,.emailb:hover{transition:transform .2s ease}
.appear.in{opacity:1;
transform:translate3d(0,0,0)}
a:hover{color:#778DA9;
cursor:pointer}
h1,h2,h3{margin-top:0;
margin-bottom:0}
p{font-size:1.125em;
line-height:200%;
word-spacing:2px;
font-weight:300}
.tilter__figure p{color:#fff}
#ecke,h2,h4,h5{color:#000}
h1{color:#1B263B;
font-weight:500;
font-size:4.7em;
margin-top:3vh}
#intro{font-size:6em;
font-weight:900}
h2{font-weight:500;
font-size:1.125em;
margin:0 0 20px}
.textLine{margin-left:-20px;
margin-top:20px;
width:80px;
height:5px;
background-color:#000}
.infobox,.test{width:100%;
height:auto}
h3{font-weight:300;
font-size:1.5em;
margin:0}
h4{font-weight:700;
font-size:1.3em;
margin:70px}
#ecke{font-weight:300;
font-size:.87em;
letter-spacing:3px;
text-transform:uppercase}
.about_box h4,.box_footer h4{letter-spacing:2px;
text-transform:uppercase}
h5{font-weight:700;
margin:0 auto 10px;
font-size:1.5em}
.section h1{font-size:12em;
position:absolute;
text-align:center;
bottom:25%;
left:-1%;
color:#F7F7F7;
z-index:-1}
.intro p,h6{font-weight:300;
margin:0 auto;
color:#1B263B;
text-align:left;
font-style:italic}
h6{font-size:1em}
.infobox,.intro p{font-size:1.5em}
.infobox p{font-style:italic;
font-weight:400;
font-size:1em}
.emailb{background-image:url(../img/emailIcon.png);
width:30px;
height:29px;
transform:rotate(0);
position:fixed;
bottom:-20px;
left:0;
margin:70px;
fill:#BDBDBD}
.emailb:hover{transform:rotate(45deg);
cursor:pointer}
.responsive-video iframe{position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:1}
.responsive-video{position:relative;
padding-bottom:56.25%;
padding-top:0;
height:0;
overflow:hidden;
z-index:1}
.hoverbox,.titel{position:absolute;
display:block}
.box_footer h4{font-weight:500;
color:#000;
font-size:.87em;
text-align:center;
margin:60px}
.footer_{width:100%;
height:50px;
display:block}
.titel{background-color:transparent;
margin:0 auto 0 -30px;
font-weight:800;
color:#DFDCD8;
font-size:6.5em;
text-align:left;
bottom:-50px}
.section .row{margin:0 auto;
height:auto;
width:60%}
.item2{box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
transition:box-shadow .6s cubic-bezier(.4,0,.2,1)}
.hoverbox,.row span{opacity:0;
transition:opacity .3s ease-in-out}
.item2:hover{box-shadow:0 19px 38px rgba(0,0,0,.3),0 15px 12px rgba(0,0,0,.22)}
.hoverbox{width:100%;
height:100%;
background-color:#1B263B}
#sidenav,#sidenav.visible{transition:visibility .4s,opacity .4s ease-in-out}
.hoverbox:hover{opacity:.9}
.hoverbox h6{text-align:center;
font-size:3em;
color:#fff}
#footerBox .row{margin-bottom:0;
margin-top:80px}
.Portfolio-Container .row{width:65vw;
margin-bottom:40px;
margin-top:40px}
.swiper-container,.swiper-wrapper{width:100%;
margin-left:auto;
margin-right:auto;
height:auto}
.swiper-wrapper{padding-right:20px}
.swiper-slide{width:50%;
height:auto;
text-align:center;
font-size:18px;
background:#fff}
.about_box h4{position:fixed;
bottom:30px;
margin:50px;
right:-30px;
font-size:.87em;
font-weight:400}
#details h1,#details p{font-weight:400;
font-size:1em}
#details p{color:#ADADAD;
text-transform:uppercase;
letter-spacing:1px}
#details h1{float:right}
.about_box h3,.about_box p{font-weight:400;
font-size:1.13em;
line-height:normal}
.about_box .row{margin-top:20vh;
width:75vw}
.fixed,.footer,.intro,.scrollit{width:100%}
.about_box h3{overflow:hidden;
float:left}
.about_box .col-md-12,.about_box .col-md-6{padding-left:0}
.fixed{position:relative}
.scrollit{float:right}
#spacerTop{margin-top:40px}
#spacerTop2{margin-top:70px}
.about_box ul{padding:0}
.about_box ul li{line-height:normal}
.about_box p{margin:0 auto 10px;
color:#1B263B;
text-align:left;
letter-spacing:.2px;
word-spacing:2px}
#sidenav a,.icon2,.sidenavContact p{text-align:center}
.about_box h2{font-weight:600;
font-size:2em;
letter-spacing:0;
color:#00f}
.intro a{color:#0D68FF}
.intro{height:auto;
margin-top:10px;
margin-left:auto;
margin-right:auto;
padding:5%}
.intro a:hover{color:#FFF;
background:#FF007F}
.intro h1{font-size:6em;
font-weight:900}
.intro h2{font-size:6em;
font-weight:700}
.box_footer{margin-left:20px;
display:block}
.footer{position:fixed;
bottom:0}
.project__header{margin-bottom:50px;
width:60%;
margin-left:auto;
margin-right:auto;
padding-right:15px;
padding-left:15px}
.project__banner{background:#fff;
height:200px;
margin:0 0 125px;
overflow:hidden;
position:relative;
box-shadow:0 25px 49px -2px rgba(0,0,0,.22)}
.project__banner-image{background-position:50% 0;
background-repeat:no-repeat;
background-size:cover;
height:100%;
width:100%;
position:absolute;
top:0;
right:auto;
bottom:auto;
left:0}
@media (min-width:1000px){.project__banner{height:auto;
padding-top:40%}
.detailBox .spacer{margin-top:0}
.fixed{position:fixed;
width:40%}
.scrollit{float:right;
width:45%}
.project__banner-image{background-size:100% auto;
height:100%;
left:0;
bottom:0;
top:auto;
width:100%}
p{font-size:1.2em}
h2{font-size:1.3em}
}
.icon2,.item2,.sidenavContact a{float:left}
#buttonDe,#buttonEng{top:50px;
padding:5px;
right:0}
.container-fluid{margin-right:auto;
margin-left:auto;
height:60px}
.banner{width:100%;
height:auto;
margin-top:50px;
margin-bottom:100px}
#brand,#buttonDe,#buttonEng{margin:70px;
position:fixed}
#menu{background-color:transparent;
font-weight:300}
#menu ul{position:fixed;
right:0;
margin:60px;
text-transform:uppercase;
letter-spacing:3px;
font-size:.87em;
font-weight:500}
#menu li a{color:#1B263B;
padding-left:5px}
#brand:hover,#menu li a:hover{color:#778DA9}
#active2{font-weight:700}
#active2 a{color:#000}
#notActive a{color:#000;
font-weight:400;
letter-spacing:2px}
#brand{color:#1B263B;
left:0;
font-size:1.7em;
font-weight:700;
z-index:-1}
.sideNavlinks,.sidenavContact{position:absolute;
transform:translate(-50%,-50%);
left:50%}
#sidenav a,.lang a,.sidenavContact p{text-transform:uppercase;
font-weight:400}
.lang a{color:#000;
font-size:1em;
letter-spacing:2px}
#sidenav a:hover,.lang a:hover,a:focus{color:#778DA9}
.lang a:hover{cursor:pointer}
#buttonEng{color:#000}
#sidenav{height:100%;
width:100%;
position:fixed;
top:0;
right:0;
background-color:#fff;
padding-top:50%;
visibility:hidden;
opacity:0}
#sidenav.visible{right:0;
visibility:visible;
opacity:1}
.sideNavlinks{top:45%}
#sidenav a{font-size:1.3em;
letter-spacing:.1em;
color:#000;
display:block;
margin:0;
line-height:2.4em}
.sidenavContact{top:85%;
display:inline-block;
white-space:nowrap}
.sidenavContact p{font-size:1em}
.sidenavContact img{width:25px;
height:25px}
.sidenavContact .spacer{margin-right:20px}
.icon2{left:20px;
bottom:0;
position:fixed;
margin:70px;
width:40px;
height:40px;
border-radius:25px;
font-size:1.3em;
font-weight:700;
color:#fff;
line-height:40px;
background:#1B263B;
transition:box-shadow .2s ease-in-out;
box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)}
.icon2:hover{color:#FFF;
background:#778DA9;
box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)}
.navbar-default{background-color:transparent;
border-color:transparent}
@media (max-width:767px){.icon2,.navbar-right{display:none}
}
@media (min-width:767px){#burgerButton{display:none}
}
.Portfolio-Container{margin-top:6vh}
.Portfolio-Container2{width:60%;
height:auto;
margin-top:220px;
margin-left:auto;
margin-right:auto}
.portfolio-img{width:100%;
height:auto;
margin:auto}
.row{width:60%;
margin:auto}
#burgerButton{width:30px;
height:15px;
position:fixed;
right:0;
top:0;
margin:25px;
-webkit-transform:rotate(0);
-ms-transform:rotate(0);
transform:rotate(0);
-webkit-transition:.5s ease-in-out;
-ms-transition:.5s ease-in-out;
transition:.5s ease-in-out;
cursor:pointer}
#burgerButton span{display:block;
position:absolute;
height:2px;
width:90%;
background:#000;
opacity:1;
right:0;
-webkit-transform:rotate(0);
-ms-transform:rotate(0);
transform:rotate(0);
-webkit-transition:.25s ease-in-out;
-ms-transition:.25s ease-in-out;
transition:.25s ease-in-out}
.item,.item2{opacity:0}
#burgerButton span:nth-child(1){top:0;
width:70%;
right:0}
#burgerButton span:nth-child(2),#burgerButton span:nth-child(3){top:10px}
#burgerButton span:nth-child(4){top:20px;
width:70%;
right:0}
#burgerButton.open span:nth-child(1),#burgerButton.open span:nth-child(4){top:12px;
width:0%;
right:50%}
#burgerButton.open span:nth-child(2){-webkit-transform:rotate(45deg);
-ms-transform:rotate(45deg);
transform:rotate(45deg)}
#burgerButton.open span:nth-child(3){-webkit-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);
transform:rotate(-45deg)}
.item.is-visible{-webkit-animation:Items2 1s ease-in forwards;
animation:Items2 1s ease-in forwards}
.item2{position:relative;
width:100%;
height:auto;
margin-bottom:70px}
.item2.is-visible{-webkit-animation:Items .6s ease-in forwards;
animation:Items .6s ease-in forwards}
@keyframes Items2{0%{opacity:0}
100%{opacity:1}
}
@keyframes Items{0%{opacity:0;
-webkit-transform:scale(.7);
transform:scale(.7)}
40%{opacity:.1;
-webkit-transform:scale(1.05);
transform:scale(1.05)}
100%{opacity:1;
-webkit-transform:scale(1);
transform:scale(1)}
}
@media all and (min-width:310px) and (max-width:568px){#brand,.intro p,h1{color:#1B263B}
#introText2,.lang a{text-transform:uppercase}
#ecke,#fp-nav ul li .fp-tooltip,#pfeil,.emailb{display:none}
.detail_box .spacer{margin-top:20px}
#introSatz{font-family:Poppins,sans-serif;
font-weight:700;
font-size:1.3em;
color:#24148C;
text-align:center}
#introSatzBox{margin-bottom:0;
margin-top:0}
#mTop{margin-top:50px}
#rightPost,.post,.tilter{margin:0;
padding:0}
#redesignContainer{width:100%;
height:auto;
margin-right:0}
.tilter{transform:scale(.7);
width:336px!important;
height:400px!important}
.post{width:auto;
height:auto}
.swiper-slide{width:100%;
height:auto;
text-align:center;
font-size:18px;
background:#fff}
.intro p,.titel,h4{text-align:left}
#leftPost,#rightPost{margin-left:0}
#backgroundFont{font-size:0}
#introText,#introText2{font-weight:600;
font-size:2em}
#introContainer{margin-left:15vw;
margin-top:13vh;
width:70vw;
height:80vh;
padding:2vh}
#introText{letter-spacing:-2px;
width:70%;
line-height:150%}
#introText2{letter-spacing:3px;
word-spacing:inherit}
.project__banner-image{background-position:50% 0;
height:30vh;
width:100%}
.project__banner{height:150px}
#sidenav{padding-top:55%}
h4{font-weight:700;
color:#000;
position:inherit;
margin:20px 15px 15px}
.intro h1{font-size:3em;
font-weight:900}
.intro p{font-weight:300;
font-style:italic;
margin:0 auto;
font-size:1em}
#buttonDe,#buttonEng{font-size:1em;
position:fixed;
right:20px;
top:55px}
.Portfolio-Container{width:100%;
height:auto;
margin-top:80px;
margin-left:auto;
margin-right:auto}
h1{font-weight:500;
font-size:3em}
h3{font-weight:300;
font-size:1em;
margin:0}
.box_footer{margin-top:30px}
#brand{font-weight:700;
font-size:2em}
h2{font-size:1.1em}
p{font-size:1em}
.lang{position:fixed;
margin:10px;
top:30px;
right:0}
.lang a{color:#000;
font-size:.87em;
font-weight:300}
.section h1{font-size:4em}
.row .item2{width:100%;
position:relative}
.section .row{margin:0 auto;
height:auto;
width:75%}
#fp-nav{position:fixed;
margin-top:0;
top:50%;
opacity:1;
-webkit-transform:translate3d(0,0,0)}
#fp-nav.right{right:0;
margin:0}
#fp-nav ul,.fp-slidesNav ul{margin:0;
padding:0}
.project__header{margin-bottom:50px;
width:85%;
margin-left:auto;
margin-right:auto;
padding-right:15px;
padding-left:15px}
.Portfolio-Container .row{width:85vw;
margin-bottom:30px;
margin-top:50px}
.box_footer h4{margin:0;
font-size:1.3em}
.infobox{padding:20px;
font-size:1em;
width:100%;
height:50%}
.titel{margin:0 auto;
font-weight:700;
position:absolute;
color:#ddd;
font-size:2.5em}
.navbar-nav{margin-top:5px}
#menu a{margin:0}
#burgerButton{margin:15px;
width:35px}
}
@media all and (min-width:375px) and (max-width:667px){#redesign{margin-top:-7vh}
.swiper-slide{left:-50px}
#mTop{margin-top:50px}
.scrollIndicator{opacity:0}
#sidenav{padding-top:60%}
h1{color:#1B263B;
font-weight:500;
font-size:3.5em}
h3{font-weight:300;
font-size:1.3em;
margin:0}
#brand{margin:10px}
.emailb{margin-bottom:40px;
margin-left:30px}
.box_footer h4{margin:30px}
.about_box h3{overflow:hidden;
font-size:1em;
font-weight:400;
float:left}
}
@media all and (min-width:414px) and (max-width:736px){.infobox{padding:20px;
font-size:1em;
width:100%;
height:50%}
#backgroundFont{font-size:2em!important}
}
@media all and (min-width:768px) and (max-width:1024px){.intro p{font-weight:300;
font-style:italic;
margin:0 auto;
color:#1B263B;
font-size:1em;
text-align:left}
#backgroundFont{font-size:3.5em!important}
#mTop{margin-top:50px}
}
@media all and (min-width:600px) and (max-width:800px){#introText,#introText2{font-weight:500;
font-size:2em;
letter-spacing:-2px;
line-height:150%}
#introContainer{margin-left:11vw;
margin-top:16vh;
width:70vw;
height:80vh;
padding:20vh}
#introText{width:100%}
#introText2{width:70%}
.lang{position:fixed;
margin:50px;
top:50px;
right:30px}
#brand{margin:60px;
font-size:1.1em}
#backgroundFont{font-size:10em}
#menu li a{margin:0;
text-transform:uppercase;
letter-spacing:2px;
font-size:.87em}
}
@media all and (min-width:900px) and (max-width:1440px){.detailBox p{font-size:.7em}
.detailBox h1{font-size:.87em}
#backgroundFont{font-size:7em}
.tilter{transform:scale(.8)}
p{font-size:1em}
h2{font-size:1.1em}
}
@media all (max-width:1280px){.icon2,.titel{font-weight:700}
#backgroundFont{font-size:4em}
.titel{display:block;
background-color:transparent;
margin:0 auto 0 -20px;
position:absolute;
color:#D3D0CB;
font-size:4.5em;
text-align:left;
bottom:-40px}
#menu ul,.lang{margin:50px}
.emailb,.icon2{bottom:0;
position:fixed;
width:30px}
.box_footer h4{font-size:1em;
margin:50px}
.lang{position:fixed;
top:50px;
right:30px}
.infobox p{font-size:.7em}
#menu{font-size:.87em}
#brand{margin:30px;
font-size:1.1em}
.icon2,.intro p,p{font-size:1em}
.emailb{background-image:url(../img/emailIcon.png);
background-size:cover;
height:29px;
transform:rotate(0);
left:15px;
margin:70px;
fill:#BDBDBD}
.emailb:hover{transition:transform .2s ease;
transform:rotate(45deg)}
.icon2{left:25px;
margin:50px;
height:30px;
border-radius:15px;
color:#fff;
line-height:30px;
text-align:center;
text-decoration:none;
background:#1B263B;
float:left}
h2{font-size:1.8em}
}
@media all and (min-width:600px) and (max-width:1366px){#burgerButton,.lang{position:fixed;
right:0}
.icon2,h4{font-weight:700;
text-align:center}
.about_box h5{font-size:1.2em}
h4{color:#000;
position:fixed;
right:10px;
bottom:0;
margin:60px}
.lang{margin:70px}
.tilter{transform:scale(.8)}
.box_footer h4{font-size:.87em;
margin:50px}
.infobox p{font-size:.7em}
#backgroundFont{font-size:6.5em}
#menu,#menu ul{font-size:.87em}
#menu ul{margin:60px;
text-transform:uppercase;
letter-spacing:2px}
#brand{margin:60px;
font-size:1.8em}
#burgerButton{width:30px;
height:15px;
top:0;
margin:70px}
.emailb,.icon2{bottom:0;
position:fixed;
margin:50px;
width:30px}
.emailb{background-image:url(../img/emailIcon.png);
background-size:cover;
height:29px;
transform:rotate(0);
left:0;
fill:#BDBDBD}
.emailb:hover{transition:transform .2s ease;
transform:rotate(45deg)}
.icon2{left:25px;
height:30px;
border-radius:15px;
font-size:1em;
color:#fff;
line-height:30px;
text-decoration:none;
background:#1B263B;
float:left}
p{font-size:.87em}
h2{font-size:1em}
h4{font-size:1.2em}
}
@media all and (min-width:1800px){h1{color:#1B263B;
font-weight:500;
font-size:5.5em}
.Portfolio-Container .row{width:65vw;
margin-bottom:30px;
margin-top:80px}
#backgroundFont{font-size:12em}
#brand{font-size:2em}
p{font-size:1.15em}
h2{font-size:1.25em}
.tilter{margin:1.5em 2.5em;
width:380px;
height:450px}
.fixed{position:fixed;
width:35%}
.scrollit{float:right;
width:50%}
.about_box .row{width:70vw;
margin-top:30vh}
}
@media all and (min-width:2000px){.tilter{margin:1.5em 2.5em;
width:400px;
height:474px}
.Portfolio-Container .row{width:45vw;
margin-bottom:30px;
margin-top:80px}
.fixed{position:fixed;
width:30%}
.scrollit{float:right;
width:50%}
.about_box .row{width:60vw;
margin-top:30vh}
#footerBox .row{margin-bottom:0;
margin-top:80px}
#backgroundFont{font-size:14em}
}
@media all and (min-width:2700px){.tilter{margin:1.5em 2.5em;
width:500px;
height:592px}
#backgroundFont{font-size:16em}
}
@media all and (min-width:3400px){.tilter{margin:1.5em 2.5em;
width:600px;
height:711px}
#backgroundFont{font-size:20em}
}
@media all and (min-width:4000px){.tilter{margin:1.5em 2.5em;
width:700px;
height:830px}
#backgroundFont{font-size:22em}
}
@media all and (min-width:4600px){.tilter{margin:1.5em 2.5em;
width:800px;
height:947px}
#backgroundFont{font-size:22em}
}
@media all and (min-width:5200px){.tilter{margin:1.5em 2.5em;
width:900px;
height:1066px}
#backgroundFont{font-size:25em}
}
